@import '../../config.scss';

.teamDetails {
    min-width: 500px;
    min-height: 350px;
    padding: 4px 10px 4px 4px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.75);

    @media (max-width: 1200px) {
        margin-left: $gutter/2;
    }

    @media (max-width: 1000px) {
        position: relative;
        width: 600px;
        padding: 1em;
        margin: auto;

        &__wrapper {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
            display: flex;
            width: 100vw;
            height: 100vh;
            font-size: 20px;
            // Same color as $color-background but with opacity
            background-color: rgba(225, 225, 225, 0.7);
        }
    }

    &__header {
        display: flex;
        height: 100px;
        padding-left: 5px;
        flex-direction: column;
    }

    &__protection {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.35);
    }

    &__headerinfo {
        position: relative;
        height: 100%;
        background: transparent url('./images/backgroundImg.jpg') no-repeat;
        background-size: cover;
    }

    &__headerText {
        position: relative;
        padding-top: 10px;
        text-align: center;
    }

    &__content {
        height: 700px;
        overflow: scroll;
    }

    &__body {
        height: 350px;
        margin-top: 5px;
    }

    &__close {
        padding: 2px;
        font-size: 1em;
        font-weight: 700;
        border-width: 0;
        align-self: flex-end;
    }

    &__edit {
        padding: 5px $gutter/2;
        color: #fff;
        background-color: $color-darkGray;
        border: #000;
        border-radius: 5px;
    }

    &__edit:hover {
        cursor: pointer;
    }

    &__footer {
        display: flex;
        margin: 10px 0 0 5px;
        justify-content: space-between;
    }

    &__updated {
        display: flex;
        align-items: flex-end;
    }

    &__updatedLabel {
        margin-right: 10px;
    }
}
