@import '../../config.scss';

.fixture {
    display: flex;
    justify-content: space-between;

    &__away {
        flex-wrap: wrap;
        width: 100%;
        max-width: 200px;
        text-align: right;
    }

    &__home {
        width: 100%;
        max-width: 200px;
    }

    &__info {
        align-self: center;
        padding: 0 $gutter / 4;
    }
}
