@import '../../config.scss';

.fixture {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba($color: #e1e1e1, $alpha: 0.8);

    &__away {
        flex-wrap: wrap;
        width: 100%;
        max-width: 200px;
        text-align: right;
    }

    &__home {
        width: 100%;
        max-width: 200px;
    }

    &__info {
        display: flex;
        align-items: center;
        align-self: center;
        padding: 0 $gutter / 4;
    }

    &__logo {
        width: 2em;
        height: 2em;
    }

    &__status {
        margin: 0 $gutter / 2;
        text-align: center;
    }
}
