@import '../../config.scss';

.saveTeam {
    margin-right: 5px;

    &__labels {
        display: flex;
        margin-bottom: 10px;
        flex-direction: column;
    }

    &__buttons {
        display: flex;
        margin-top: $gutter/2;
    }

    &__input {
        margin-top: 10px;
        font-size: 1em;
        background-color: #fff;
        border: 0;
        border-bottom: 1px solid $color-gray;
    }

    &__input:focus {
        outline: none;
    }

    &__edit {
        width: $gutter * 5;
        padding: 5px 0;
        margin-right: $gutter/2;
        font-size: 1em;
        font-weight: 700;
        color: #fff;
        cursor: pointer;
        background-color: $color-sub;
        border: #000;
        border-radius: 5px;
    }

    &__delete {
        width: $gutter * 5;
        padding: 5px 0;
        margin-right: $gutter/2;
        font-size: 1em;
        font-weight: 700;
        color: #fff;
        cursor: pointer;
        background-color: $color-card-red;
        border: #000;
        border-radius: 5px;
    }
}
