@import '../../config.scss';

.saveTeam {

    &__labels {
        display: flex;
        margin-bottom: 10px;
        flex-direction: column;
    }

    &__buttons {
        display: flex;
    }

    &__button {
        padding: 5px $gutter/2;
        margin-right: $gutter/2;
        color: #fff;
        cursor: pointer;
        background-color: $color-darkGray;
        border: #000;
        border-radius: 5px;
    }

    &__input {
        padding: 5px;
        border-radius: 5px;
    }
}
