{
  "extends": "stylelint-config-primer",
  "rules": {
    "indentation": [
      4,
      {
        "message": "Please use 4 spaces for indentation",
        "severity": "warning"
      }
    ],
    "string-quotes": ["single"],
    "selector-max-type": [1]
  }
}