@import '../../config.scss';

.user-form {
    margin: 0 auto;
    min-width: 300px;

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__input-container {
        display: flex;
        flex-direction: column;
        margin: $gutter / 4 0;
        width: 100%;
    }

    &__input {
        font-size: 1em;
        border: none;
        border-bottom: 1px solid $color-gray;
        background-color: #fff;
    }

    &__input:focus {
        outline: none;
    }

    &__label {
        margin: 5px 0;
        font-size: 0.8em;
    }

    &__error {
        margin-top: 10px;
        text-align: center;
        border-top: 1px solid $color-card-red;
        padding-top: 5px;
    }

    &__button {
        border-radius: 5px;
        margin-top: $gutter / 2;
        font-weight: 700;
        font-size: 1em;
        padding: 5px 0;
        width: 100%;
        background-color: $color-sub;
        color: #fff;
        cursor: pointer;
    }

    &__navigate {
        max-width: 50%;
        margin-top: $gutter / 4;
        text-align: left;
        border: 0;
        font-size: 0.8em;
        font-weight: 700;
        cursor: pointer;

        &--cancel {
            color: $color-card-red;
        }
    }

    .disabled {
        background-color: $color-gray;
        cursor: default;
    }
}