@import '../../config.scss';

.searchTeam {
    display: flex;
    flex-direction: row;
}

.labelDrop {
    display: flex;
    margin-right: $gutter;
    flex-direction: column;
}

.mySelect {
    max-width: 5 * $gutter;
}
