@import '../../config.scss';

.league {
    @include row;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;

    &__header {
        @include columns(12);
        background-color: #e1e1e1;
    }

    &__list {
        @include columns(12);
        list-style: none;
    }
}
