@import '../../config.scss';

.league {
    @include row;
    flex-wrap: wrap;
    max-width: 600px;
    margin: $gutter auto;

    &__header {
        z-index: 100;
        @include columns(12);
        background-color: $color-gray;
    }

    &__list {
        z-index: 10;
        @include columns(12);
        list-style: none;
    }
}
