@import '../../config.scss';

.register {
    display: flex;
    flex-direction: column;

    &__login {
        display: flex;
        margin: $gutter auto;

        &__text {
            margin-right: 5px;
        }

        &__link {
            font-weight: 600;
            color: $color-sub;
        }
    }
}
