@import '../../config.scss';

.register {
    display: flex;
    flex-direction: column;

    &__login {
        margin: $gutter auto;
        display: flex;

        &__text {
            margin-right: 5px;
        }

        &__link {
            color: $color-sub;
            font-weight: 600;
        }
    }
}