@import '../../config.scss';

.date-picker {
    width: 300px;
    margin: 0 auto $gutter auto;
    text-align: center;

    &__input {
        width: 300px;
        padding: 5px 0;
        font-size: 1.5em;
        font-weight: 700;
        text-align: center;
        border: 2px solid $color-sub;
        border-radius: 5px;
    }

    &__input:hover {
        cursor: pointer;
    }
}
