@import '../../config.scss';

.myTeam {
    height: 70vh;
}

.selectedPlayer {
    width: 100%;
}

.displayTeam {
    display: flex;
    height: 100%;
    margin-right: $gutter;
    margin-left: $gutter;
}

.playerSearch {
    display: flex;
}
