@import '../../config.scss';

.login {
    display: flex;
    flex-direction: column;

    &__register {
        margin: 0 auto;
        display: flex;

        &__text {
            margin-right: 5px;
        }

        &__link {
            color: $color-sub;
            font-weight: 600;
        }
    }
}